*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 183, 183);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.6em;

}

h1 {
    background-color: whitesmoke;
    font-size: x-large;
    font-weight: 200;
    margin: 0%;
    width: 100%;
    color: black;
    border: 1px solid black;
}

h2 {
    width: 70%;
    margin: 0 auto;
}

nav {
    padding: 0.5em;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    background-color: rgb(232, 141, 141);
}

main {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

main img {
    border-radius: 3rem;
    border: 1rem;
    padding: 20px;
    height: 50vh;
    width: 30vw;
    
}

p {
    font-size: 1.4em;
    text-align: left                                                                                ;
}

.ul, li{
    font-size: 1.3em;
}

.mainimage {
    width: 40vw;
    height: 40vh;
} 

.button, nav a {
    font-size: 20px;
    padding: 0.5em;
    font-family: arial;
    color: black;
    border: 4px solid black;
    border-radius: 0.7em;
    background-color: bisque;
}

.button:hover,
nav a:hover {
    background: black;
    color: white;
    border-color: beige;
}

li a {
    color: black;
}

a:link {
    text-decoration: none;
}

img {
    padding: 50px;
    width: 60vw;
    height: 55vh;
    border-radius: 3rem;
    border: 1rem;
}

.flex-container {
    display: flex;
}

.flex-container div {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 20px;
    font-size: 26px;
    flex-direction: column-reverse;
    align-items: flex-start;
}

div.figure img {
    justify-content: right;
    padding: 10px;
}


.fashion {
    height: 20vw;
    width: 40vw;
}

.gif {
    width: 20vw;
    height: 20vh;
}

.vogueabout{
    height: 40vh;
    width: 40vh;
}

.allefotos{
    display: flex;
    
    flex-direction: column;
    width: 45vw;
    height: 30vw;
}

.allefotos2 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
}


footer {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(238, 132, 132);
}
